@import url(../card/Card.module.css);
/* ============================= */
/* THEME / TOKENS */
/* ============================= */

.theme {  
  --gradient-accent-primary: radial-gradient(circle, #FFD700 , #d3e0e6, #FFD700, #d3e0e6, #FFD700);
  --gradient-accent-secondary: linear-gradient(to right top, #d3e0e6, #4f10e2);
  --gradient-section: linear-gradient(
      to bottom right,
      #4f10e299,
      #196fdf80,
    	#4f10e299
  );
}

/* ============================= */
/* BASE - STRUCTURE / LAYOUT */
/* ============================= */

.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: var(--font-base); /* Global */
}

.section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--gradient-section),
    url('../../assets/images/background-presentation.webp');
  animation: var(--anim-name-move-up) var(--anim-duration-base) var(--ease-linear) 
    var(--anim-interation-infinite); /* Global */
  z-index: -1;
}



/* ============================= */
/* CONTENT - TEXT / INFO */
/* ============================= */

.pageTitlePrimary {
  position: relative;
  font-weight: 900;
  font-size: var(--font-lg); /* Global */
  -webkit-text-fill-color: transparent;
  background: var(--gradient-accent-primary);
  background-clip: text;
}

.pageTitleSecondary {
  position: relative;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  background: var(--gradient-accent-secondary);
  background-clip: text;
}
