/* ============================= */
/* THEME / TOKENS */
/* ============================= */

.theme {
	--color-text-accent: #000000;

	--color-border-light: #fff;
	--color-border-dark: #000;
	--border-base: 2px solid;

	--gradient-base: linear-gradient(to right top, #4f10e2E6, #196fdf80);
}

/* ============================= */
/* BASE - STRUCTURE / LAYOUT */
/* ============================= */

.nav {
	font-family: var(--font-primary); /* Global */
	color: var(--color-text-base); /* Global */
	position: fixed;
	border: 0;
	font-size: var(--font-sm); /* Global */
	cursor: pointer;
	opacity: 80%;
	transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
	max-height: 70px;
}

.nav::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: var(--gradient-base),
		url('../../assets/images/background-presentation.webp');
	animation: var(--anim-name-move-up) var(--anim-duration-base) var(--ease-linear) 
    	var(--anim-interation-infinite); /* Global */
	z-index: -1;
}

/* ============================= */
/* CONTENT - TEXT / INFO */
/* ============================= */

.pageTitle {
	border: 0;
	font-size: 1.875rem;
	color: var(--color-text-accent);
	position: relative;
	text-decoration: none;
}


.pageTitle:hover {
	animation: var(--anim-name-wheel) var(--duration-base) var(--anim-interation-infinite); /* Global */
}


/* ============================= */
/* CONTROLS - INTERATIONS */
/* ============================= */

.activePrimary {
  	border-bottom: var(--border-base) var(--color-border-light);
}


.activeSecondary {
	border-bottom: var(--border-base) var(--color-border-dark);
}

/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media only screen and (max-width: 575px) {
  .navActive {
    background-image: var(--gradient-base);
	max-height: 120px;
  }

  .navDesactive {
	display: none;
  }
}