/* ============================= */
/* THEME / TOKENS */
/* ============================= */

.theme {
	--color-text-primary: #87ceeb;
	--color-text-secondary: #000000;
	
	--color-icon-primary: #157cd6;
	--color-icon-secondary: var(--color-base);

	--gradient-bg-base: linear-gradient(to bottom right, #196fdf80, #4f10e2E6);

	--box-shadow-base: #157cd6 -1px 1px,
						#1572d6 -2px 2px,
						#1568d6 -3px 3px,
						#155ed6 -4px 5px,
						#1554d6 -6px 6px,
						#1544d6 -7px 7px,
						#154ed6 -8px 8px,
						#1558d6 -9px 9px,
						#1562d6 -10px 10px,
						#156cd6 -11px 11px;
}

/* ============================= */
/* BASE - STRUCTURE / LAYOUT */
/* ============================= */

.section {
	position: relative;
	overflow: hidden;
	min-height: 800px;
	margin-left: 0;
}

.section::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: var(--gradient-bg-base), url('../../assets/images/background-presentation.webp');
	animation: var(--anim-name-move-up) var(--anim-duration-base) var(--ease-linear) 
    	var(--anim-interation-infinite); /* Global */
	z-index: -1;
}

.pageImg img {
    display: block;
    max-width: 100%;
    height: auto;
	margin-top: 100px;
	border: 3px solid transparent;
	border-radius: var(--border-rounded); /* Global */
	box-shadow: var(--box-shadow-base)	
}

.iconPrimary {
	color: var(--color-icon-primary);
	transition: transform var(--duration-fast) var(--ease-smooth); /* Global */
}

.iconPrimary:hover{
	cursor: pointer;
	transform: var(--scale-lg); /* Global */
}

.iconSecondary {
	color: var(--color-icon-secondary);
}

/* ============================= */
/* CONTENT - TEXT / INFO */
/* ============================= */

.sectionText {
	font-family: var(--font-primary); /* Global */
	letter-spacing: var(--font-space-base); /* Global */
	position: relative;
	margin-top: 110px;
	color: var(--color-text-base); /* Global */
	padding-right: 10%;
}

.sectionList {
	position: relative;
	margin-top: 100px;
	width: 30%;
}

.sectionText--primary {color: var(--color-text-primary);}

.sectionText--secondary {
	position: relative;
	font-family: var(--font-secondary);
	color: var(--color-text-secondary);
	left: 20%;
	bottom: 5px;
}


/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media (max-width: 620px) {
	.sectionList {
		width: 70%;
	}
}

@media (max-width: 510px) {
	.textAccentSecondary {
		left: 0;
	}
}

@media (max-width: 470px) {
	.iconPrimary {
		padding-bottom: 10px;
	}
}